.classicTable
{
  border: 1px solid black;
}

.classicTable th
{
  border: 1px solid black;
  text-align: center;
  padding: 2px 2px 2px 2px;
  vertical-align: top;
}

.classicTable td
{
  border: 1px solid black;
  padding: 2px 2px 2px 2px;
  vertical-align: top;
  text-align: left;
}