* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #d3d4d7;
}

nav{
    width: 100%;
    display: flex;
    padding: 10px;
    background-color: #6a6a6a;
}

nav .nav_padding {
    width: 10%;
}

nav .empty{
    flex-grow: 1;
}

nav img{
    max-height: 70px;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav a{
    display: block;
}

nav a:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

nav .mobile-empty{
    visibility: hidden;
    background-color: lime;
    flex-grow: 0;
}


.content {
    width: 80%;
    margin: 0 auto;
}

.content h2 {
    margin: 0;
    padding: 25px 0;
    font-size: 22px;
    border-bottom: 1px solid #e0e0e3;
    text-align: center;
    color: #4a536e;
}

.content > p, .content > div {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    margin: 25px 0;
    padding: 25px;
    background-color: #f6f6f4;
}

.content > p table td, .content > div table td {
    padding: 5px;
}

.content > p table td:first-child, .content > div table td:first-child {
    font-weight: bold;
    color: #4a536e;
    padding-right: 15px;
}

.content > div p {
    padding: 5px;
    margin: 0 0 10px 0;
}

.content form {
    text-align: center;
}

#selector form{
    display: block;
    margin-top: 0em;
}

.Super_Prototype {
    color: white;
    background-color: red;
}

.Prototype {
    color: white;
    background-color: black;
}

.Promotion {
    color: black;
    background-color: yellow;
}

.Origine_Ameliore {
    color: white;
    background-color: blue;
}

.Origine {
    color: black;
    background-color: rgb(255, 255, 255);
}

.Electrique {
    color: white;
    background-color: green;
}

.Mob_ameliore{
    color: orange;
    background-color: blue;
}

.Mob_production{
    color: black;
    background-color: orange;
}

.Scooter{
    color: black;
    background-color: red;
}

.Mecaboite_50cc{
    color: red;
    background-color: black;
}

.Unknown{
    color: lightgrey;
    background-color: white;
}

.red{
    color: red;
}

.green{
    color: lime;
}

.turquoise{
    color: turquoise;
}

#ranking table{
    width: 100%;
    font-size: 1.2em;
}

#ranking table th{
    text-transform: uppercase;
}

#ranking table th sup{
    text-transform: lowercase;
}

#ranking table td {
    border-top: 1px #dee0e4 solid;
    text-align: center;
}


#ranking table td:nth-child(4){
    text-align: left;
}

.themed {
    color:#4a536e;
}

@media screen and (max-width: 1080px){
    .content{
        width: 100%;
    }

    #ranking table{
        border: 0;
    }

    #ranking table thead{
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    #ranking table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    #ranking table td:nth-child(4){
        text-align: right;
    }

    #ranking table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    #ranking table td::before{
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    nav {
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
        justify-content: center;
    }
    nav a{
        padding: 10px 0 10px 0;
        display: flex;
    }

    nav .mobile-empty{
        background-color: lime;
        flex-grow: 1;
    }

    .back a:hover {
        background-color: rgba(106,106,106,.1);
    }

}

.back a {
    text-decoration: none;
    color: #4a536e;
    display: inline-block;
    padding: 5px;
}

.back a:hover {
    background-color: rgba(106,106,106,.1);
}

@media(prefers-color-scheme: dark){
    body {
        background-color: #121212;
        color: white;
    }

    .content > p, .content > div {
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
        margin: 25px 0;
        padding: 25px;
        background-color: #0a0a0c;
    }

    .content h2 {
        color: rgb(182, 173, 146) /*#4a536e*/;
    }

    .back a{
        color:rgb(182, 173, 146);
    }

    .themed {
        color:rgb(182, 173, 146);
    }

}